/app/config/parameters.yml
/build/
/composer.phar
/deptrac.phar
/vendor/
/web/bundles/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/phpunit.xml
report/
!report/.gitkeep
.idea/
